h1 {
  font-family: arial;
}

body {
  font-family: arial;
  background-image: url('../assets/imgs/background-main.svg');
  background-size: cover;
}

.race-box {
  padding: 2px;
  background-color: rgb(120, 30, 140);
}

.container {
  position: relative;
}

.body {
  position: absolute;
  z-index: 10;
}

.wheels {
  position: absolute;
  z-index: 1;
  margin-right: 50px;
  margin-top: 2px;
}