h1 {
  font-family: arial;
}

body {
  font-family: arial;
}

.container {
  position: relative;
}

.body {
  position: absolute;
  z-index: 10;
}

.wheels {
  position: absolute;
  z-index: 1;
  margin-right: 50px;
  margin-top: 2px;
}